jupyter-book
# Use conda I've found instead of pip
jupyter
matplotlib
numpy
pandas
scikit-learn
seaborn
scipy
PILLOW
urllib3
networkx
pytorch
torchvision
rpy2
#r-base r-tidyverse
r-irkernel
ipykernel
bs4
folium
streamlit
lxlm
statsmodels