bs4
h5py
folium
ipykernel
jupyter-book
jupyter
matplotlib
networkx
numpy
pandas
PILLOW
rpy2
scikit-learn
seaborn
scipy
statsmodels
streamlit
torchvision
urllib3
## The following are also needed but installed by default in colab
## Use conda I've found instead of pip
#pytorch
#lxlm
#r-base r-tidyverse
#r-irkernel
